.categories {
  background-color: var(--light-bg);
  padding: 30px 12px;
  text-align: center;
}
.text {
  position: relative;
}
.text h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text::after {
  content: " ";
  position: absolute;
  right: 10px;
  left: 0;
  bottom: -2px;
  transform: translateX(200%);
  width: 20%;
  height: 5px;
  background-color: var(--main-color);
}
.box-img {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.box-img > img {
  width: 40%;
}
.box-img .img2 {
  transform: scaleY(0.8);
}
