.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Box-contain form {
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  width: 500px;
}
.Box-contain form > img {
  width: 46px;
  margin: auto;
}
.Box-contain form > input {
  padding: 10px 5px;
  outline: none;
  border: none;
  border-radius: 7px;
}
.Box-contain form > button {
  width: 50%;
  padding: 3px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  margin: auto;
  border-radius: 7px;
  user-select: none;
}
.Box-contain form > input:focus {
  background-color: var(--main-color);
  transition: 0.7s all;
  color: white;
}
